<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="0.41.0" targetFramework="xamarinios10" />
  <package id="Fabulous.LiveUpdate" version="0.41.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="0.41.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.41.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="xamarinios10" />
  <package id="FSharp.Data" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.1.0.581479" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Visual.Material" version="4.1.0.581479" targetFramework="xamarinios10" />
  <package id="Xamarin.iOS.MaterialComponents" version="72.2.0.1" targetFramework="xamarinios10" />
</packages>